<a href="https://colab.research.google.com/github/RidhaBouhiaoui/Trading/blob/main/Tbotbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install python-binance
!pip install pandas

Requirement already satisfied: python-binance in /usr/local/lib/python3.7/dist-packages (1.0.15)
Requirement already satisfied: websockets==9.1 in /usr/local/lib/python3.7/dist-packages (from python-binance) (9.1)
Requirement already satisfied: dateparser in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.1.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from python-binance) (3.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from python-binance) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.15.0)
Requirement already satisfied: ujson in /usr/local/lib/python3.7/dist-packages (from python-binance) (4.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.7.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (3.10.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (21.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (5.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (2.0.7)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (4.0.1)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->python-binance) (2.10)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2019.12.20)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (1.5.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2018.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2.8.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (2021.10.8)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [13]:
from binance import Client
import pandas as pd

In [14]:
api_key = 'vBH5GvjHWAxF0jnX0ps8NXg624kpjWqdvmHyyutAFUbG3F878FaiPOpN6FHoamYW'
api_secret = 'MBvDArXtId3b8UaIQk1F7Siy7ZlmmQCTmYVozjOGyIwSgGK6nHztUnLzjaSIZWjw'

In [15]:
client = Client(api_key, api_secret)

In [16]:
#datastream via websocket - will not be covered in this code.

In [17]:
pd.DataFrame(client.get_historical_klines('BTCUSDT', '1m', '30 m ago UTC'))

               0               1   ...               10 11
0   1637526480000  59405.21000000  ...  308576.45156950  0
1   1637526540000  59414.85000000  ...  477868.07910050  0
2   1637526600000  59432.29000000  ...  268896.69746670  0
3   1637526660000  59390.86000000  ...  195441.13839930  0
4   1637526720000  59394.79000000  ...  177597.11649400  0
5   1637526780000  59371.29000000  ...  286045.93423660  0
6   1637526840000  59378.91000000  ...  263756.80058910  0
7   1637526900000  59381.60000000  ...  625509.79785310  0
8   1637526960000  59428.74000000  ...  577163.23147440  0
9   1637527020000  59470.63000000  ...  935309.12515040  0
10  1637527080000  59488.18000000  ...  980673.97403740  0
11  1637527140000  59482.75000000  ...  661383.45549390  0
12  1637527200000  59434.70000000  ...  353174.77615210  0
13  1637527260000  59453.45000000  ...  832101.40681560  0
14  1637527320000  59489.61000000  ...  253829.22119670  0
15  1637527380000  59476.88000000  ...  392799.32080010  0
16  1637527440000  59493.29000000  ...  696240.66270270  0
17  1637527500000  59464.67000000  ...  292818.92325440  0
18  1637527560000  59429.67000000  ...  372002.03077290  0
19  1637527620000  59470.00000000  ...  274886.29309850  0
20  1637527680000  59446.77000000  ...  266996.70641320  0
21  1637527740000  59431.98000000  ...  286129.27131550  0
22  1637527800000  59405.00000000  ...  612774.12745360  0
23  1637527860000  59447.64000000  ...  407602.65540520  0
24  1637527920000  59488.47000000  ...  603036.94689630  0
25  1637527980000  59495.30000000  ...  733997.95406610  0
26  1637528040000  59577.46000000  ...  307035.75958820  0
27  1637528100000  59559.07000000  ...  510074.24370030  0
28  1637528160000  59557.02000000  ...  448702.29123300  0
29  1637528220000  59579.60000000  ...  230797.63657750  0

[30 rows x 12 columns]

In [18]:
#data manipulation
def getminutedata(symbol, interval, lookback):
   frame = pd.DataFrame(client.get_historical_klines(symbol, interval, lookback+' min ago UTC'))
   frame = frame.iloc[:,:6]
   frame.columns = ['Time', 'Open', 'High', 'Low','Close', 'Volume']
   frame = frame.set_index('Time')
   frame.index = pd.to_datetime(frame.index, unit='ms')
   frame = frame.astype(float)
   return frame

In [19]:
############# how to to obtain data
##        test = getminutedata('BTCUSDT', '1h', '2400')  ##
############# this is how you plot a graph
##        test.Open.plot()           ##

In [36]:
############ MY AIM IS TO BUILD A STRATEGY THAT CONSIDERS THE FOLLOWING
## RSI UNDER 30/ OVER 70 LINE ##
## EMAS IN ORDER AND/OR EMA CROSS ##
## BTC RSI ENTERED SUB30 OR ABOVE70 THEN CLOSES IN RANGE 50-70 OR 3-50 ##
## 5:1 RR, SL TO BE ONCE SECURE 3RR EG 1% RISK FOR 5%GAIN ##
## MAC D IN ORDER TOO, THIS MAY BE OVERCOMPLICATING ##
##  ##

In [ ]:
#buy if asset fell by more then 0.2%
#sell if asset rises more then .15% or falls further .15%

In [29]:
def strategytest(symbol, qty, tf, tb, entered = False):
    df = getminutedata(symbol, tf, tb)
    #looking at asset performance
    cumulret = (df.Open.pct_change()+1).cumprod() - 1
    if not entered:
     ## These are the conditions for entry. ##    
        if cumulret[-1] < -0.002:
           order = client.create_order(symbol = symbol,
                                       side = "BUY", type = 'MARKET',
                                       quantity=qty)
           print(order)
           entered = True
        else:
             print('No Trade has been executed')
    if entered:
       while True:
            df = getminutedata(symbol, tf, tb)
            sincebuy = df.loc[df.index > pd.to_datetime(
            order['transactTime'], unit='ms')]
            if len(sincebuy) > 0 :
               sincebuyret = (sincebuy.Open.pct_change()+1).cumprod() - 1
        ## This is the conditions for exiting the position. ##
               if sincebuyret[-1] > 0.0015 or sincebuyret[-1] < -0.0015:
                  order = client.create_order(symbol = symbol,
                                       side = "SELL", type = 'MARKET',
                                       quantity=qty)
                  print(order)
                  break

In [37]:
strategytest('BTCUSDT', 0.001, '1m', '30m')

No Trade has been executed